<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navbar') %> 
    <h1>welcome home, admin.</h1>
    <h2>here are all of your users:</h2>
    <h3><%= users %></h3>
    <%- include('partials/background-shapes/rectangle1') %> 
    <%- include('partials/background-shapes/rectangle2') %> 
</body>
</html>